{% extends "layout/base_admin.html" %}
{% load static%}

{% block content %}

<div class="a-wrapper">
    <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
            <a href="" class="sidebar-brand">
                <span class="align-middle">RSHCI</span>
            </a>
            <ul class="sidebar-nav">
                <li class="sidebar-item active">
                    <a class="sidebar-link" href="">
                        <i class="align-middle" data-feather="sliders"></i><span
                            class="align-middle">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="">
                        <i class="align-middle" data-feather="user"></i><span class="align-middle">User Info</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="">
                        <i class="align-middle" data-feather="sliders"></i><span class="align-middle">Create
                            Wallet</span>
                    </a>
                </li>
            </ul>
        </div>

    </nav>
    <div class="a-main">
        <header class="a-header">
            <p class="a-header__ttl">RSHCI Management</p>
        </header>
        <main class="a-content">
            <form class="a-content__wallet" id="a-content__wallet" action="{% url 'homepage:create_wallet' %}" method="POST">
                {% csrf_token %}
                <div class="a-content__wallet-container">
                    <h1 class="__ttl">New Wallet Create</h1>
                    <div class="__content">
                        <div class="__user-name">
                            <p class="__user-name__ttl">User Name</p>
                            <input type="text" class="__user-name__input" id="userName" name="userName" placeholder="User Name">
                            <p class="__type-error">Enter Username.</p>
                        </div>
                        <div class="__wallet-address">
                            <p class="__wallet-address__ttl">Wallet Address</p>
                            <input type="text" id="walletAddress" name="walletAddress" readonly class="__wallet-address__input">
                        </div>
                        <div class="__wallet-secret">
                            <p class="__wallet-secret__ttl">Wallet SecretCode</p>
                            <input type="text" id="walletSecretCode" name="walletSecretCode" readonly class="__wallet-secret__input">
                        </div>
                    </div>
                    <a href="" class="__link" id="submit">Generate Wallet</a>
                </div>
            </form>
            
        </main>
        <footer class="a-footer">
            <p class="a-footer__sttl">RSHCI@reserved in 2024.5</p>
        </footer>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
    $("#submit").click(function(e){
        e.preventDefault()

        
        var user_name = $("#userName").val()
        var success = true
        if(user_name == ""){
            $(".name__error").addClass("is-active")
            success = false
        }
        
        if(success){
            
            const form = document.getElementById('a-content__wallet');
            const formData = new FormData(form);

            fetch("{% url 'homepage:create_wallet' %}", {
                method: 'POST',
                body: formData
            })
            .then((response) => {
                if(!response.ok){
                    alert("Server Error. Please retry again later.") 
                }
                return response.json();
                
            })
            .then(data => {
                
                $(".__wallet-address__input").val(data.address);
                $(".__wallet-secret__input").val(data.otp);
                alert("New Wallet has been successfully create") 
            })
            .catch((error) => {
                alert("Failed to create wallet due to server error. Please try again later.")
                console.log(error)
            });
        }

        
    })
</script>
{% endblock %}