{% extends "layout/base_wallet.html" %}
{% load static%}

{% block content %}
<main class="l-main">
    <section class="l-login">
        <form class="l-login__container" method="POST">
            {% csrf_token %}
            <div class="l-login__wrap">
                <h1 class="l-login__wrap--ttl">Sign In</h1>
                <div class="l-login__wrap--item">
                    <input type="text" class="l-login__wrap--input" name="username" 
                        placeholder="Wallet Address">
                </div>
                <div class="l-login__wrap--item">
                    <input type="text" class="l-login__wrap--input" name="password" 
                        placeholder="Enter your secret code">
                </div>

                <p class="l-login__wrap--subttl">Forgot Your Secret Code?</p>
                <button type="submit" class="l-login__wrap--submit">Sign In</button>
            </div>
            <div class="l-login__wrap sm">
                <figure class="l-login__wrap--img">
                    <img src="{% static '/img/purse.png'%}" alt="">
                </figure>

            </div>
        </form>
    </section>

</main>

{% endblock %}

