{% extends "layout/base_wallet.html" %}
{% load static%}

{% block content %}
<main class="l-main">
    <section class="l-login">
        <div class="l-login__container">
            <div class="l-login__wrap">
                <h1 class="l-login__wrap--ttl">Sign In</h1>
                <div class="l-login__wrap--item">
                    <input type="text" class="l-login__wrap--input" name="WalletAddress" id="walletaddress"
                        placeholder="Wallet Address">
                    <p class="__walletaddress-error">*Invalid Wallet Address.</p>
                </div>
                <div class="l-login__wrap--item">
                    <input type="text" class="l-login__wrap--input" name="SecretCode" id="secretcode"
                        placeholder="Enter your secret code">
                    <p class="__secretcode-error">*Invalid Secret Code.</p>
                </div>

                <p class="l-login__wrap--subttl">Forgot Your Secret Code?</p>
                <a href="" class="l-login__wrap--submit">Sign In</a>
            </div>
            <div class="l-login__wrap sm">
                <figure class="l-login__wrap--img">
                    <img src="{% static '/img/purse.png'%}" alt="">
                </figure>

            </div>
        </div>
    </section>

</main>

{% endblock %}