{% extends "layout/base_admin.html" %}
{% load static%}

{% block content %}

<div class="a-wrapper">
    <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
            <a href="" class="sidebar-brand">
                <span class="align-middle">RSHCI</span>
            </a>
            <ul class="sidebar-nav">
                <li class="sidebar-item active">
                    <a class="sidebar-link" href="">
                        <i class="align-middle" data-feather="sliders"></i><span
                            class="align-middle">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="">
                        <i class="align-middle" data-feather="user"></i><span class="align-middle">User Info</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="">
                        <i class="align-middle" data-feather="sliders"></i><span class="align-middle">Create
                            Wallet</span>
                    </a>
                </li>
            </ul>
        </div>

    </nav>
    <div class="a-main">
        <header class="a-header">
            <p class="a-header__ttl">RSHCI Management</p>
        </header>
        <main class="a-content">
            <div class="a-content__item">
                
                <div class="a-content__userinfo">
                    <h4 class="__userinfo-ttl">Users Info</h4>
                    <div class="__userinfo-body">
                        <table class="userinfo-table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Wallet Address</th>
                                    <th>Secret Code</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Yoshida</td>
                                    <td>0x567890ghjkl7dje</td>
                                    <td>elekdisejdm234jejs</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Michael</td>
                                    <td>0x567890ghjkl7dje</td>
                                    <td>elekdisejdm234jejs</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Yoshida</td>
                                    <td>0x567890ghjkl7dje</td>
                                    <td>elekdisejdm234jejs</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Yoshida</td>
                                    <td>0x567890ghjkl7dje</td>
                                    <td>elekdisejdm234jejs</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </main>
        <footer class="a-footer">
            <p class="a-footer__sttl">RSHCI@reserved in 2024.5</p>
        </footer>
    </div>
</div>
{% endblock %}