{% extends "layout/base_admin.html" %}
{% load static%}
{% load humanize %}
{% load l10n %}
{% load custom_filter %}
{% block content %}

<div class="a-wrapper">
    <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
            <a href="" class="sidebar-brand">
                <span class="align-middle">RSHCI</span>
            </a>
            <ul class="sidebar-nav">
                <li class="sidebar-item active">
                    <a class="sidebar-link" href="/admin/dashboard">
                        <i class="align-middle" data-feather="sliders"></i><span
                            class="align-middle">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin/users/list">
                        <i class="align-middle" data-feather="user"></i><span class="align-middle">User Info</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin/users/create">
                        <i class="align-middle" data-feather="sliders"></i><span class="align-middle">Create
                            Wallet</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin/users/setprice">
                        <i class="align-middle" data-feather="sliders"></i><span class="align-middle">Set Coin Price</span>
                    </a>
                </li>
            </ul>
        </div>

    </nav>
    <div class="a-main">
        <header class="a-header">
            <p class="a-header__ttl">RSHCI Management</p>
            <span class="a-header__btn" id="dropdown">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 30 30">
                    <path d="M 3 7 A 1.0001 1.0001 0 1 0 3 9 L 27 9 A 1.0001 1.0001 0 1 0 27 7 L 3 7 z M 3 14 A 1.0001 1.0001 0 1 0 3 16 L 27 16 A 1.0001 1.0001 0 1 0 27 14 L 3 14 z M 3 21 A 1.0001 1.0001 0 1 0 3 23 L 27 23 A 1.0001 1.0001 0 1 0 27 21 L 3 21 z"></path>
                </svg>
            </span>
        </header>
        <main class="a-content">
            <div class="a-content__item">
                
                <div class="a-content__userinfo">
                    <div class="__userinfo-head">
                        <h4 class="__userinfo-ttl">Users Info</h4>
                        <a href="/admin/users/create" class="__userinfo-createbtn">Create New</a>
                    </div>
                    <div class="__userinfo-body">
                        <table class="userinfo-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Wallet Address</th>
                                    <th>Secret Code</th>
                                    <th>Coins</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for user in users %}
                                    <tr>
                                        <td>{{user.name}}</td>
                                        <td>{{user.username}}</td>
                                        <td>{{user.secretcode}}</td>
                                        <td>{{user.coins|european_number_format}}</td>
                                        <td>
                                            <a href="/admin/users/{{user.id}}" class="__userinfo-update">Update</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </main>
        <footer class="a-footer">
            <p class="a-footer__sttl">RSHCI@reserved in 2024.5</p>
        </footer>
        <div class="a-dropdown">
            <h1 class="a-dropdown-ttl">Golden Kriptonite</h1>
            <p class="a-dropdown-subttl">RSHCI Supercoin</p>
            <ul class="a-dropdown-nav">
                <li class="a-dropdown-item">
                    <a class="a-dropdown-link" href="/admin/dashboard">
                        <span class="align-middle">Dashboard</span>
                    </a>
                </li>
                <li class="a-dropdown-item">
                    <a class="a-dropdown-link" href="/admin/users/list">
                        <span class="align-middle">User Info</span>
                    </a>
                </li>
                <li class="a-dropdown-item">
                    <a class="a-dropdown-link" href="/admin/users/create">
                        <span class="align-middle">Create Wallet</span>
                    </a>
                </li>
                <li class="a-dropdown-item">
                    <a class="a-dropdown-link" href="/admin/users/setprice">
                        <i class="align-middle" data-feather="sliders"></i><span class="align-middle">Set Coin Price</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
</div>


{% endblock %}

{% block notice %}
<div class="coinprice-notice">
    <div class="coinprice-notice__wrap">
        <div class="coinprice-notice__scroll">
            <p class="__scroll-text">RSHCI S.U.P.E.R.C.O.I.N.&nbsp;&nbsp; {{coinprice.coinprice|european_number_format}}&nbsp;€</p>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}

<script>
    $("#dropdown").click(function(){
        $(".a-dropdown").addClass("is-active");
    });
</script>
{% endblock %}

