/**
* @file _reset.scss
**/

@import './media';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	vertical-align: bottom;
	border: 0;
  
}

a{
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

*::selection{
  background: #826F34;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-bottom: 0; 
}

ol,
ul {
  list-style: none;
}

*:focus {
  outline: none;
}

blockquote,
q {
  quotes: none;

&::before,
&::after {
  content: none;
}
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

button {
  cursor: pointer;
  border: 0;
  outline: none;
}

table td,
table th {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  line-height: 0;
  vertical-align: bottom;
  pointer-events: none;
  user-select: none;
  border: 0;
  object-fit: cover;
}

input:focus {
  outline: 0;
}

td,
th,
tr {
  vertical-align: middle;
}


*,
dd,
dl,
dt,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
img,
ol,
picture,
table,
ul {
  margin: 0;
}

ol,
ul {
  padding: 0;
  list-style-type: none;
}

textarea {
  resize: vertical;
}

fieldset,
legend {
  padding: 0;
}

figure{
  display: flex;
  align-items: center;
  justify-content: center;
}
