@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Sans+JP:wght@400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Shippori+Mincho+B1:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mansalva&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/**
* @file _common.scss
**/
.is-pc {
  display: block;
}
@media screen and (max-width: 1280px) {
  .is-pc {
    display: none !important;
  }
}

.is-sp {
  display: none !important;
}
@media screen and (max-width: 1280px) {
  .is-sp {
    display: block !important;
  }
}

.l-common {
  max-width: 968px;
  margin: 0 auto;
}

/**
* @file _reset.scss
**/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  border: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

*::-moz-selection {
  background: #826F34;
  color: white;
}

*::selection {
  background: #826F34;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-bottom: 0;
}

ol,
ul {
  list-style: none;
}

*:focus {
  outline: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

button {
  cursor: pointer;
  border: 0;
  outline: none;
}

table td,
table th {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  line-height: 0;
  vertical-align: bottom;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

input:focus {
  outline: 0;
}

td,
th,
tr {
  vertical-align: middle;
}

*,
dd,
dl,
dt,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
img,
ol,
picture,
table,
ul {
  margin: 0;
}

ol,
ul {
  padding: 0;
  list-style-type: none;
}

textarea {
  resize: vertical;
}

fieldset,
legend {
  padding: 0;
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 100%;
  position: relative;
}

.c-header {
  position: absolute;
  top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 150px;
  z-index: 10;
}
@media screen and (max-width: 1280px) {
  .c-header {
    padding: 10px 50px;
  }
}
@media screen and (max-width: 767px) {
  .c-header {
    padding: 10px 20px;
  }
}
.c-header__logo {
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 767px) {
  .c-header__logo {
    width: 100px;
    height: 100px;
  }
}
.c-header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 1280px) {
  .c-header__menu {
    display: none;
  }
}
.c-header__menu--item {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fff;
}
.c-header__menu--item:hover {
  font-weight: 700;
}
@media screen and (max-width: 1440px) {
  .c-header__menu--item {
    font-size: 16px;
  }
}
.c-header__wallet {
  padding: 10px 40px;
  border-radius: 25px;
  background: linear-gradient(270deg, #dec7ff 0%, #5c27fe 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.c-header__wallet-symbol {
  width: 40px;
  height: 40px;
}
.c-header__wallet-symbol img {
  max-width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-header__wallet p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .c-header__wallet p {
    font-size: 10px;
  }
}
@media screen and (max-width: 767px) {
  .c-header__wallet {
    padding: 2px 10px;
    gap: 10px;
  }
}

.c-footer {
  width: 100%;
  background-color: #070A29;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-footer__container {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 20px 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .c-footer__container {
    flex-direction: column;
    padding: 20px;
  }
}
.c-footer__logo {
  max-width: 250px;
}
.c-footer__logo img {
  max-width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-footer__items {
  width: 70%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}
@media screen and (max-width: 767px) {
  .c-footer__items {
    width: 100%;
    padding-top: 20px;
  }
}
.c-footer__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: left;
}
.c-footer__item .__item--ttl {
  font-size: 30px;
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 600;
  color: #fff;
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  .c-footer__item .__item--ttl {
    font-size: 20px;
  }
}
.c-footer__item .__item--links {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}
.c-footer__item .__item--link {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .c-footer__item .__item--link {
    font-size: 14px;
  }
}
.c-footer_la {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 50px;
}

._error {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #fff;
}

.name__error {
  display: none;
}
.name__error.is-active {
  display: block;
}

.email__error {
  display: none;
}
.email__error.is-active {
  display: block;
}

.phone__error {
  display: none;
}
.phone__error.is-active {
  display: block;
}

.disires__error {
  display: none;
}
.disires__error.is-active {
  display: block;
}

.text__error {
  display: none;
}
.text__error.is-active {
  display: block;
}

.agree__error {
  display: none;
}
.agree__error.is-active {
  display: block;
}

.particle {
  position: absolute;
  width: 100%;
  height: 94%;
  background-color: transparent;
}

.timer {
  display: inline-block;
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  color: #fff;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .timer {
    font-size: 24px;
    font-weight: 900;
  }
}
.timer::after {
  content: "+";
  position: absolute;
  top: 0;
  margin-left: 2px;
}

.Cookie-modal {
  position: fixed;
  bottom: 30px;
  left: 30px;
  display: none;
  width: 100%;
  max-width: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 20px;
  gap: 20px;
  z-index: 10;
}
.Cookie-modal__ttl {
  font-size: 30px;
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 400;
  color: #070A29;
}
.Cookie-modal__subttl {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #111;
}
@media screen and (max-width: 767px) {
  .Cookie-modal__subttl {
    width: 100%;
  }
}
.Cookie-modal__btngroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.Cookie-modal__link {
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  border-radius: 10px;
  background-color: #070A29;
  color: #fff;
}
.Cookie-modal.is-active {
  display: flex;
}

.wrapper {
  margin: 15px auto;
  max-width: 1100px;
}

.container-calendar {
  background: #ffffff;
  padding: 15px;
  max-width: 475px;
  margin: 0 auto;
  overflow: auto;
}

.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #00a2b7;
  color: #fff;
  border: 1px solid #0aa2b5;
  border-radius: 4px;
  padding: 5px 10px;
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

.table-calendar td, .table-calendar th {
  padding: 5px;
  border: 1px solid #e2e2e2;
  text-align: center;
  vertical-align: top;
}

.date-picker.selected {
  font-weight: bold;
  outline: 1px dashed #00BCD4;
}

.date-picker.selected span {
  border-bottom: 2px solid currentColor;
}

/* sunday */
.date-picker:nth-child(1) {
  color: red;
}

/* friday */
.date-picker:nth-child(6) {
  color: green;
}

#monthAndYear {
  text-align: center;
  margin-top: 0;
}

.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

#previous {
  float: left;
}

#next {
  float: right;
}

.footer-container-calendar {
  display: none;
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}

.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #585858;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}

#map {
  margin: auto;
  width: 100%;
  height: 300px;
  text-align: center;
}
#map svg {
  width: 100%;
}

@media (max-width: 768px) {
  #map {
    width: 100%;
    height: 250px;
  }
}
@media (max-width: 500px) {
  #map {
    width: 100%;
    height: 200px;
  }
}
.coinprice-notice {
  width: 100%;
  height: 50px;
  overflow-x: hidden;
  background-color: #070A29;
}
.coinprice-notice__wrap {
  width: 100%;
  padding: 10px 50px;
  position: relative;
}
.coinprice-notice__scroll {
  width: 300px;
  display: inline-block;
  animation: text-scroll 35s linear infinite;
}
@keyframes text-scroll {
  from {
    transform: translateX(60%);
  }
  to {
    transform: translateX(-100%);
  }
}
.coinprice-notice__scroll .__scroll-text {
  width: 300px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .coinprice-notice__scroll .__scroll-text {
    font-size: 14px;
  }
}

.p-main {
  width: 100%;
}

.p-fv {
  width: 100%;
  background-color: #070a29;
}
.p-fv__container {
  padding: 250px 150px 100px 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1280px) {
  .p-fv__container {
    padding: 200px 50px;
  }
}
@media screen and (max-width: 767px) {
  .p-fv__container {
    flex-direction: column-reverse;
    padding: 100px 20px;
    gap: 50px;
  }
}
.p-fv__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  gap: 50px;
}
@media screen and (max-width: 767px) {
  .p-fv__content {
    width: 100%;
  }
}
.p-fv__content--ttl {
  width: 100%;
  font-family: Conthrax;
  font-weight: 600;
  font-size: 60px;
  text-align: left;
  line-height: 1.2;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .p-fv__content--ttl {
    font-size: 40px;
    text-align: center;
  }
}
.p-fv__content--subttl {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #fff;
  max-width: 800px;
  text-wrap: balance;
}
@media screen and (max-width: 767px) {
  .p-fv__content--subttl {
    text-align: center;
  }
}
.p-fv__content--url {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #fff;
  text-wrap: balance;
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  .p-fv__content--url {
    text-align: center;
  }
}
.p-fv__content--link {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: left;
}
.p-fv__content--link span {
  padding: 10px 40px;
  border-radius: 25px;
  background: linear-gradient(270deg, #dec7ff 0%, #5c27fe 100%);
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #fff;
}
@media screen and (max-width: 450px) {
  .p-fv__content--link span {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .p-fv__content--link {
    justify-content: center;
    align-items: center;
  }
}
.p-fv__content--num {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.p-fv__content--num .__num-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;
}
.p-fv__content--num .__num-item_ttl {
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.p-fv__content--num .__num-item_count {
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.p-fv__img {
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: right;
  position: relative;
}
.p-fv__img img {
  width: 100%;
  max-width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  animation-duration: 3s;
  animation-name: jump;
  animation-iteration-count: infinite;
  transition: all 1s ease;
}
@keyframes jump {
  0% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(3px);
  }
}
@media screen and (max-width: 767px) {
  .p-fv__img img {
    max-width: 400px;
  }
}
@media screen and (max-width: 767px) {
  .p-fv__img {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.p-about {
  width: 100%;
  background-color: #070a29;
}
.p-about__container {
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1280px) {
  .p-about__container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 767px) {
  .p-about__container {
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
    gap: 30px;
  }
}
.p-about__img {
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: left;
  position: relative;
}
.p-about__img img {
  width: 100%;
  max-width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  animation-duration: 3s;
  animation-name: jump;
  animation-iteration-count: infinite;
  transition: all 1s ease;
}
@keyframes jump {
  0% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(3px);
  }
}
@media screen and (max-width: 767px) {
  .p-about__img img {
    max-width: 400px;
  }
}
@media screen and (max-width: 767px) {
  .p-about__img {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
.p-about__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  gap: 50px;
}
.p-about__content--deco {
  max-width: 200px;
  padding: 10px 40px;
  border: 1px solid rgba(255, 255, 255, 0.4196078431);
  border-radius: 20px;
  color: #A0A6F9;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 767px) {
  .p-about__content--deco {
    text-align: center;
  }
}
.p-about__content--ttl {
  font-size: 50px;
  font-weight: 900;
  font-family: "Palanquin Dark", sans-serif;
  line-height: 1.2;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .p-about__content--ttl {
    font-size: 40px;
    text-align: center;
  }
}
.p-about__content--subttl {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
  color: #fff;
  text-align: left;
  text-wrap: balance;
}
@media screen and (max-width: 767px) {
  .p-about__content--subttl {
    text-align: center;
  }
}
.p-about__content--link {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: left;
}
.p-about__content--link span {
  padding: 10px 40px;
  border-radius: 25px;
  background: linear-gradient(270deg, #dec7ff 0%, #5c27fe 100%);
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #fff;
}
@media screen and (max-width: 450px) {
  .p-about__content--link span {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .p-about__content--link {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .p-about__content {
    width: 100%;
    gap: 30px;
    align-items: center;
  }
}

.p-service {
  width: 100%;
  background-color: #070a29;
}
.p-service__container {
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
@media screen and (max-width: 1280px) {
  .p-service__container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 767px) {
  .p-service__container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.p-service__deco {
  max-width: 250px;
  padding: 10px 40px;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: #A0A6F9;
  border: 1px solid rgba(255, 255, 255, 0.4196078431);
  border-radius: 20px;
}
.p-service__ttl {
  max-width: 800px;
  font-size: 50px;
  font-weight: 700;
  font-family: "Palanquin Dark", sans-serif;
  text-align: center;
  color: #fff;
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
  .p-service__ttl {
    font-size: 35px;
  }
}
.p-service__subttl {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: #fff;
  text-align: center;
  max-width: 900px;
}
.p-service__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 70px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media screen and (max-width: 1280px) {
  .p-service__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .p-service__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.p-service__item {
  max-width: 500px;
  background-color: #21233F;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  padding-top: 50px;
}
.p-service__item .__item-img {
  position: absolute;
  left: 0;
  top: -40px;
  width: 100px;
}
.p-service__item .__item-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-service__item .__item-ttl {
  font-size: 35px;
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-service__item .__item-ttl {
    font-size: 30px;
  }
}
.p-service__item .__item-subttl {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #fff;
  text-align: center;
  text-wrap: balance;
  line-height: 1.5;
  letter-spacing: 0.08em;
}

.p-reason {
  width: 100%;
  background-color: #070a29;
}
.p-reason__container {
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
@media screen and (max-width: 1280px) {
  .p-reason__container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 767px) {
  .p-reason__container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.p-reason__deco {
  max-width: 300px;
  padding: 10px 40px;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: #A0A6F9;
  border: 1px solid rgba(255, 255, 255, 0.4196078431);
  border-radius: 20px;
}
.p-reason__ttl {
  max-width: 800px;
  font-size: 50px;
  font-weight: 900;
  font-family: "Palanquin Dark", sans-serif;
  text-align: center;
  color: #fff;
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
  .p-reason__ttl {
    font-size: 40px;
  }
}
.p-reason__img {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.p-reason__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-reason__video {
  width: 100%;
  max-width: 600px;
  min-height: 350px;
}
@media screen and (max-width: 767px) {
  .p-reason__video {
    max-width: 400px;
    min-height: 200px;
  }
}
.p-reason__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media screen and (max-width: 1440px) {
  .p-reason__items {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media screen and (max-width: 1280px) {
  .p-reason__items {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .p-reason__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.p-reason__item {
  max-width: 500px;
  background-color: #21233F;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
@media screen and (max-width: 1440px) {
  .p-reason__item {
    flex-direction: column;
    padding: 10px;
  }
}
.p-reason__item .__item-img img {
  max-width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-reason__item .__item-content {
  padding: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.4196078431);
}
@media screen and (max-width: 1440px) {
  .p-reason__item .__item-content {
    border-left: 0;
  }
}
.p-reason__item .__item-content_ttl {
  font-size: 35px;
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-reason__item .__item-content_ttl {
    font-size: 30px;
  }
}
.p-reason__item .__item-content_subttl {
  padding-top: 30px;
  width: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #fff;
  text-align: center;
  text-wrap: balance;
  line-height: 1.5;
  letter-spacing: 0.08em;
}
.p-reason__item .__item-content_subttl a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-decoration: underline;
  white-space: nowrap;
}
.p-reason_stategy {
  width: 90%;
  max-width: 1200px;
  padding: 20px 70px;
  border-radius: 25px;
  background: linear-gradient(270deg, #dec7ff 0%, #5c27fe 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .p-reason_stategy {
    width: 100%;
    padding: 10px 30px;
  }
}
.p-reason_stategy .__stategy-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.p-reason_stategy .__stategy-item .__num {
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .p-reason_stategy .__stategy-item .__num {
    font-size: 20px;
  }
}
@media screen and (max-width: 450px) {
  .p-reason_stategy .__stategy-item .__num {
    font-size: 16px;
  }
}
.p-reason_stategy .__stategy-item .__ttl {
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
@media screen and (max-width: 450px) {
  .p-reason_stategy .__stategy-item .__ttl {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .p-reason_stategy .__stategy-item {
    justify-content: center;
    align-items: center;
  }
}

.p-gold {
  width: 100%;
  background-color: #070a29;
}
.p-gold__container {
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
@media screen and (max-width: 1280px) {
  .p-gold__container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 767px) {
  .p-gold__container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.p-gold__deco {
  max-width: 250px;
  padding: 10px 40px;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: #A0A6F9;
  border: 1px solid rgba(255, 255, 255, 0.4196078431);
  border-radius: 20px;
}
.p-gold__ttl {
  max-width: 800px;
  font-size: 50px;
  font-weight: 900;
  font-family: "Palanquin Dark", sans-serif;
  text-align: center;
  color: #fff;
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
  .p-gold__ttl {
    font-size: 40px;
  }
}
.p-gold__subttl {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: #fff;
  text-align: center;
  max-width: 900px;
  text-wrap: pretty;
  word-break: all;
}
.p-gold__link {
  padding: 10px 40px;
  border-radius: 25px;
  background: linear-gradient(270deg, #dec7ff 0%, #5c27fe 100%);
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #fff;
}
@media screen and (max-width: 450px) {
  .p-gold__link {
    font-size: 12px;
  }
}
.p-gold__video {
  height: 600px;
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .p-gold__video {
    height: 400px;
  }
}

.p-contact {
  width: 100%;
  background-color: #070a29;
}
.p-contact__container {
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
@media screen and (max-width: 1280px) {
  .p-contact__container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 767px) {
  .p-contact__container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.p-contact__deco {
  max-width: 250px;
  padding: 10px 40px;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: #A0A6F9;
  border: 1px solid rgba(255, 255, 255, 0.4196078431);
  border-radius: 20px;
}
.p-contact__ttl {
  max-width: 800px;
  font-size: 50px;
  font-weight: 900;
  font-family: "Palanquin Dark", sans-serif;
  text-align: center;
  color: #fff;
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
  .p-contact__ttl {
    font-size: 40px;
  }
}
.p-contact__form {
  max-width: 1200px;
  border-radius: 25px;
  background-color: rgba(88, 109, 214, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .p-contact__form {
    flex-direction: column;
  }
}
.p-contact__form .__form-info {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  .p-contact__form .__form-info {
    padding: 10px;
  }
}
.p-contact__form .__form-info_ttl {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .p-contact__form .__form-info_ttl {
    text-align: center;
  }
}
.p-contact__form .__form-info_email {
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .p-contact__form .__form-info_email {
    text-align: center;
  }
}
.p-contact__form .__form-info_img {
  padding-top: 30px;
}
@media screen and (max-width: 767px) {
  .p-contact__form .__form-info_img {
    padding-top: 10px;
  }
}
.p-contact__form .__form-info_img img {
  max-width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-contact__form .__form-items {
  padding: 30px;
  border-left: 1px solid rgba(255, 255, 255, 0.4196078431);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .p-contact__form .__form-items {
    border-left: 0;
    padding: 20px;
  }
}
.p-contact__form .__form-items_up {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .p-contact__form .__form-items_up {
    grid-template-columns: repeat(1, 1fr);
  }
}
.p-contact__form .__form-items_up .__form-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}
.p-contact__form .__form-items_up .__form-item_label {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #fff;
}
.p-contact__form .__form-items_up .__form-item_input {
  width: 100%;
  padding: 10px;
  color: rgba(255, 255, 255, 0.4196078431);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.4196078431);
  background-color: transparent;
}
.p-contact__form .__form-items_up .__form-item_input.input-error {
  background-color: rgba(241, 86, 86, 0.1568627451);
}
.p-contact__form .__form-items_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}
.p-contact__form .__form-items_text .__text-label {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #fff;
}
.p-contact__form .__form-items_text .__textarea {
  width: 100%;
  min-height: 200px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.4196078431);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.4196078431);
  background-color: transparent;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}
.p-contact__form .__form-items_text .__textarea.text-error {
  background-color: rgba(241, 86, 86, 0.1568627451);
}
.p-contact__form .__form-items_terms {
  display: flex;
  flex-direction: row;
  align-items: left;
  gap: 10px;
}
.p-contact__form .__form-items_terms-ttl {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #fff;
}
.p-contact__form .__form-items_terms-ttl a {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #5c27fe;
  text-decoration: underline;
}
.p-contact__form .__form-items_submit {
  padding: 10px 40px;
  border-radius: 25px;
  background: linear-gradient(270deg, #dec7ff 0%, #5c27fe 100%);
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #fff;
}

.t-main {
  width: 100%;
}

.t-fv {
  width: 100%;
}
.t-fv__img {
  width: 100%;
  position: relative;
}
.t-fv__img img {
  width: 100%;
  min-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.t-fv__ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding-top: 70px;
}
@media screen and (max-width: 767px) {
  .t-fv__ttl {
    font-size: 35px;
  }
}
@media screen and (max-width: 450px) {
  .t-fv__ttl {
    font-size: 28px;
  }
}

.t-terms {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #070a29;
}
.t-terms__container {
  width: 100%;
  padding: 50px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .t-terms__container {
    padding: 50px 20px;
  }
}
.t-terms__ttl {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #fff;
  line-height: 1.5;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .t-terms__ttl {
    font-size: 16px;
  }
}
.t-terms__topic {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fff;
  line-height: 1.5;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .t-terms__topic {
    font-size: 24px;
  }
}

.w-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #070A29;
}

.w-wallet {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  position: relative;
  z-index: 10;
}
.w-wallet__container {
  width: 100%;
  background-color: rgba(17, 17, 17, 0.3647058824);
  border: 2px solid rgba(255, 255, 255, 0.3215686275);
  border-radius: 10px;
  padding: 30px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 450px) {
  .w-wallet__container {
    padding: 30px 10px 10px 10px;
  }
}
.w-wallet__ttl {
  font-size: 40px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
}
@media screen and (max-width: 450px) {
  .w-wallet__ttl {
    font-size: 30px;
  }
}
.w-wallet__subttl {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .w-wallet__subttl {
    display: none;
  }
}
.w-wallet__subttl.sm {
  display: none;
}
@media screen and (max-width: 767px) {
  .w-wallet__subttl.sm {
    display: block;
  }
}
.w-wallet .__success {
  padding-top: 20px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: center;
  max-width: 400px;
}
.w-wallet__symbol {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 150px;
}
.w-wallet__symbol img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.w-wallet__content {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.w-wallet__content-btn {
  width: 300px;
  padding: 10px 40px;
  background: linear-gradient(270deg, #dec7ff 0%, #5c27fe 100%);
  border-radius: 25px;
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
@media screen and (max-width: 450px) {
  .w-wallet__content-btn {
    width: 250px;
  }
}
.w-wallet__content-btn.hidden {
  display: none;
}
.w-wallet__wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
}
@media screen and (max-width: 767px) {
  .w-wallet__wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
.w-wallet__wrap-item {
  width: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .w-wallet__wrap-item {
    font-size: 14px;
    text-wrap: balance;
    max-width: 300px;
  }
}
@media screen and (max-width: 450px) {
  .w-wallet__wrap-item {
    font-size: 13px;
  }
}
.w-wallet__senditems {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .w-wallet__senditems {
    flex-direction: column;
  }
}
.w-wallet__senditems.hidden {
  display: none;
}
.w-wallet__senditems-to {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}
.w-wallet__senditems-amount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}
.w-wallet__senditems .__send-ttl {
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.w-wallet__senditems .__send-input {
  background-color: rgba(85, 85, 85, 0.3647058824);
  border: 1px solid rgba(255, 255, 255, 0.1843137255);
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.l-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #070A29;
}

.l-login {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 450px) {
  .l-login {
    padding: 10px;
  }
}
.l-login__container {
  width: 100%;
  background-color: rgba(17, 17, 17, 0.3647058824);
  border: 2px solid rgba(255, 255, 255, 0.3215686275);
  border-radius: 10px;
  padding: 30px 20px 20px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 767px) {
  .l-login__container {
    grid-template-columns: repeat(1, 1fr);
    padding: 30px 10px 20px 10px;
  }
}
.l-login__wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.l-login__wrap--ttl {
  font-size: 40px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  padding-bottom: 30px;
}
.l-login__wrap--subttl {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #fff;
  text-align: center;
}
.l-login__wrap--item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px;
}
@media screen and (max-width: 450px) {
  .l-login__wrap--item {
    padding: 0;
  }
}
.l-login__wrap--input {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(85, 85, 85, 0.3647058824);
  border: 1px solid rgba(17, 17, 17, 0.3647058824);
  color: #fff;
}
.l-login__wrap--submit {
  width: 300px;
  padding: 10px 40px;
  background: linear-gradient(270deg, #dec7ff 0%, #5c27fe 100%);
  border-radius: 25px;
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 450px) {
  .l-login__wrap--submit {
    width: 270px;
  }
}
@media screen and (max-width: 767px) {
  .l-login .sm {
    display: none;
  }
}

.a-wrapper {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #222E3C;
  max-height: 100vh;
}

.sidebar {
  min-width: 200px;
  max-width: 200px;
  max-height: 100vh;
  min-height: 100vh;
  padding: 50px 10px;
  transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out, margin-right 0.35s ease-in-out, right 0.35s ease-in-out;
  direction: ltr;
  background: #222E3C;
}
@media screen and (max-width: 767px) {
  .sidebar {
    display: none;
  }
}
.sidebar-content {
  transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out, margin-right 0.35s ease-in-out, right 0.35s ease-in-out;
  display: flex;
  flex-direction: column;
  background: #222E3C;
}
.sidebar-nav {
  max-height: 80vh;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-grow: 1;
}
.sidebar-link {
  display: block;
  padding: 0.62rem 1.1rem;
  font-weight: 400;
  transition: background 0.1s ease-in-out;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  border-left-style: solid;
  border-left-width: 3px;
  color: rgba(233, 236, 239, 0.5);
  background: #222E3C;
  border-left-color: transparent;
}
.sidebar-link i,
.sidebar-link svg {
  margin-right: 0.75rem;
  color: rgba(233, 236, 239, 0.5);
}
.sidebar-link:focus {
  outline: 0;
}
.sidebar-link:hover {
  color: rgba(233, 236, 239, 0.75);
  background: #222E3C;
  border-left-color: transparent;
}
.sidebar-item.active {
  color: rgba(233, 236, 239, 0.75);
  background: #222E3C;
  border-left-color: transparent;
}
.sidebar-brand {
  font-weight: 700;
  font-size: 1.15rem;
  padding: 1.15rem 1.5rem;
  display: block;
  color: #f8f9fa;
}
.sidebar-brand:hover {
  text-decoration: none;
  color: #f8f9fa;
}
.sidebar-brand:focus {
  outline: 0;
}

.a-main {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 0;
  min-height: 100vh;
  max-height: 100vh;
  transition: transform 0.25s ease-out;
  background: #f5f7fb;
  flex-direction: column;
}

.a-header {
  width: 100%;
  height: 80px;
  box-shadow: 0px 5px 5px rgba(7, 7, 7, 0.144);
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
}
@media screen and (max-width: 767px) {
  .a-header {
    padding: 5px;
  }
}
.a-header__btn {
  display: none;
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 767px) {
  .a-header__btn {
    display: block;
  }
}
.a-header__ttl {
  font-size: 40px;
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 500;
  color: #555;
}
@media screen and (max-width: 767px) {
  .a-header__ttl {
    font-size: 30px;
  }
}
@media screen and (max-width: 450px) {
  .a-header__ttl {
    font-size: 24px;
  }
}

.a-content {
  width: 100%;
  height: calc(100vh - 130px);
  background-color: rgba(7, 7, 7, 0.048);
  overflow: scroll;
  scrollbar-width: thin;
  padding: 50px 20px 50px 50px;
}
@media screen and (max-width: 1280px) {
  .a-content {
    padding: 20px;
  }
}
@media screen and (max-width: 767px) {
  .a-content {
    padding: 20px;
  }
}
@media screen and (max-width: 450px) {
  .a-content {
    padding: 10px;
  }
}
.a-content__ttl {
  font-size: 24px;
  font-weight: 500;
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
}
.a-content__item {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .a-content__item {
    flex-direction: column;
  }
}
.a-content__userinfo {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}
.a-content__userinfo .__userinfo-head {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px 30px 10px;
  border-bottom: 1px solid #555;
  margin-bottom: 20px;
}
.a-content__userinfo .__userinfo-head .__userinfo-ttl {
  font-size: 24px;
  font-family: "Noto Sans JP", sans-serif;
  color: #555;
}
@media screen and (max-width: 450px) {
  .a-content__userinfo .__userinfo-head .__userinfo-ttl {
    font-size: 20px;
  }
}
.a-content__userinfo .__userinfo-head .__userinfo-createbtn {
  width: 150px;
  padding: 10px 30px;
  background-color: #4a48d6;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 450px) {
  .a-content__userinfo .__userinfo-head .__userinfo-createbtn {
    width: 100px;
    padding: 5px 10px;
    font-size: 12px;
  }
}
.a-content__userinfo .__userinfo-body {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .a-content__userinfo .__userinfo-body {
    overflow-x: scroll;
    scrollbar-width: thin;
    scroll-behavior: smooth;
  }
}
.a-content__userinfo .__userinfo-body .userinfo-table {
  width: 100%;
}
.a-content__userinfo .__userinfo-body .userinfo-table tbody {
  width: 100%;
}
.a-content__userinfo .__userinfo-body .userinfo-table th {
  text-align: center;
}
.a-content__userinfo .__userinfo-body .userinfo-table td {
  text-align: center;
  padding: 20px 5px;
  font-size: 14px;
  font-weight: normal;
  color: #555;
}
.a-content__userinfo .__userinfo-body .__userinfo-update {
  padding: 5px 20px;
  background-color: #33ad28;
  border-radius: 15px;
  color: #fff;
}
.a-content__analytics {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
}
@media screen and (max-width: 450px) {
  .a-content__analytics {
    grid-template-columns: repeat(1, 1fr);
  }
}
.a-content__analytics .analytics-item {
  width: 100%;
  height: 135px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 10px;
  box-shadow: 5px 5px 5px rgba(7, 7, 7, 0.144);
}
.a-content__analytics .analytics-item.users {
  background-color: #e9c242;
}
.a-content__analytics .analytics-item.total {
  background-color: #1ca099;
}
.a-content__analytics .analytics-item.price {
  background-color: #8f33a1;
}
.a-content__analytics .analytics-item.sales {
  background-color: #4a48d6;
}
.a-content__analytics .__analytics-ttl {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
}
.a-content__analytics .__analytics-subttl {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #fff;
}
.a-content__calender {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(7, 7, 7, 0.144);
  padding: 20px 10px;
}
.a-content__calender .__calender-ttl {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  line-height: 1.8;
  color: #555;
  text-align: left;
}
.a-content__location {
  width: 100%;
  height: 365px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(7, 7, 7, 0.144);
  padding: 20px 10px;
}
.a-content__location .__location-ttl {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  line-height: 1.8;
  color: #555;
  text-align: left;
}
.a-content__wallet {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.a-content__wallet-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #070a29;
  box-shadow: 5px 5px 5px rgba(7, 7, 7, 0.144);
  padding: 30px 10px;
}
.a-content__wallet-container .__ttl {
  font-size: 40px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  text-align: center;
}
.a-content__wallet-container .__subttl {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #f1a7a7;
  text-align: center;
}
.a-content__wallet-container .__success {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #33ad28;
  text-align: center;
}
.a-content__wallet-container .__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
.a-content__wallet-container .__content .__user-name {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.a-content__wallet-container .__content .__user-name__ttl {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #fff;
}
.a-content__wallet-container .__content .__user-name__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: rgba(85, 85, 85, 0.1647058824);
  color: #fff;
}
.a-content__wallet-container .__content .__user-email {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.a-content__wallet-container .__content .__user-email__ttl {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #fff;
}
.a-content__wallet-container .__content .__user-email__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: rgba(85, 85, 85, 0.1647058824);
  color: #fff;
}
.a-content__wallet-container .__content .__coin-price {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.a-content__wallet-container .__content .__coin-price__ttl {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #fff;
}
.a-content__wallet-container .__content .__coin-price__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: rgba(85, 85, 85, 0.1647058824);
  color: #fff;
}
.a-content__wallet-container .__content .__user-coins {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.a-content__wallet-container .__content .__user-coins__ttl {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #fff;
}
.a-content__wallet-container .__content .__user-coins__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: rgba(85, 85, 85, 0.1647058824);
  color: #fff;
}
.a-content__wallet-container .__content .__wallet-address {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.a-content__wallet-container .__content .__wallet-address__ttl {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #fff;
}
.a-content__wallet-container .__content .__wallet-address__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: rgba(85, 85, 85, 0.1647058824);
  color: #fff;
}
.a-content__wallet-container .__content .__wallet-secret {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.a-content__wallet-container .__content .__wallet-secret__ttl {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #fff;
}
.a-content__wallet-container .__content .__wallet-secret__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: rgba(85, 85, 85, 0.1647058824);
  color: #fff;
}
.a-content__wallet-container .__link {
  padding: 10px 40px;
  border-radius: 25px;
  background: linear-gradient(270deg, #dec7ff 0%, #5c27fe 100%);
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #fff;
}
@media screen and (max-width: 450px) {
  .a-content__wallet-container .__link {
    font-size: 12px;
  }
}
.a-content__wallet-container .close-btn {
  position: absolute;
  cursor: pointer;
  top: 30px;
  right: 30px;
}

.a-footer {
  width: 100%;
  height: 50px;
  box-shadow: 0px -5px 5px rgba(7, 7, 7, 0.144);
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.a-footer__sttl {
  font-size: 16px;
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 500;
  color: #555;
}

.a-dropdown {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #070A29;
  transition: ease all 2s;
}
.a-dropdown-ttl {
  width: 100%;
  max-width: 300px;
  text-align: center;
  font-size: 35px;
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.1em;
  text-wrap: balance;
  line-height: 1.5;
}
@media screen and (max-width: 450px) {
  .a-dropdown-ttl {
    font-size: 25px;
  }
}
.a-dropdown-subttl {
  font-size: 24px;
  font-family: "Mansalva", sans-serif;
  color: #5cd1e0;
  padding-bottom: 40px;
}
.a-dropdown-nav {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.a-dropdown .a-dropdown-link {
  font-size: 20px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #bebebe;
}
.a-dropdown .a-dropdown-link.hover {
  font-weight: 700;
  color: #fff;
}
.a-dropdown.is-active {
  display: flex !important;
}/*# sourceMappingURL=style.css.map */