@import './config';
@import './media';
@import './l-common';
@import './reset';
@import './c-component';


.p-main {
    width: 100%;
}

.p-fv {
    width: 100%;
    // background-image: url(../img/p-fv.png);
    background-color: #070a29;

    &__container {
        padding: 250px 150px 100px 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include media-sp {
            padding: 200px 50px;
        }

        @include media-sm {
            flex-direction: column-reverse;
            padding: 100px 20px;
            gap: 50px;
        }

    }

    &__content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        gap: 50px;

        @include media-sm {
            width: 100%;
        }

        &--ttl {
            width: 100%;
            font-family: Conthrax;
            font-weight: 600;
            font-size: 60px;
            text-align: left;
            line-height: 1.2;
            color: #fff;

            @include media-sm {
                font-size: 40px;
                text-align: center;
            }

        }

        &--subttl {
            font-family: $font-mont;
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 0.1em;
            text-align: left;
            color: #fff;
            max-width: 800px;
            text-wrap: balance;

            @include media-sm {
                text-align: center;
            }
        }


        &--url {
            font-family: $font-mont;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.1em;
            text-align: left;
            color: #fff;
            text-wrap: balance;
            text-decoration: underline;

            @include media-sm {
                text-align: center;
            } 
        }

        &--link {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: left;

            span {

                padding: 10px 40px;
                border-radius: 25px;
                background: linear-gradient(270deg, #dec7ff 0%, #5c27fe 100%);
                font-size: 24px;
                font-family: $font-mont;
                font-weight: normal;
                color: #fff;

                @include media-xs {
                    font-size: 16px;
                }
            }


            @include media-sm {
                justify-content: center;
                align-items: center;
            }
        }

        &--num {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            .__num-item {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: baseline;
                gap: 10px;

                &_ttl {
                    font-size: 16px;
                    font-weight: 400;
                    font-family: $font-mont;
                    color: #fff;
                }

                &_count {
                    font-size: 24px;
                    font-weight: 600;
                    font-family: $font-mont;
                    color: #fff;
                }
            }

        }
    }

    &__img {
        width: 50%;
        display: flex;
        justify-content: right;
        align-items: right;
        position: relative;

        img {
            width: 100%;
            max-width: 500px;
            object-fit: cover;
            animation-duration: 3s;
            animation-name: jump;
            animation-iteration-count: infinite;
            transition: all 1s ease;

            @keyframes jump {
                0% {
                    transform: translateY(3px)
                }

                50% {
                    transform: translateY(-15px)
                }

                100% {
                    transform: translateY(3px)
                }
            }


            @include media-sm {
                max-width: 400px;
            }
        }

        @include media-sm {
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }


}

.p-about {
    width: 100%;
    background-color: #070a29;


    &__container {
        width: 100%;
        padding-left: 150px;
        padding-right: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include media-sp {
            padding-left: 50px;
            padding-right: 50px;
        }

        @include media-sm {
            flex-direction: column;
            justify-content: center;
            padding-right: 20px;
            padding-left: 20px;
            gap: 30px;
        }


    }

    &__img {
        width: 50%;
        display: flex;
        justify-content: left;
        align-items: left;
        position: relative;

        img {
            width: 100%;
            max-width: 500px;
            object-fit: cover;
            animation-duration: 3s;
            animation-name: jump;
            animation-iteration-count: infinite;
            transition: all 1s ease;

            @keyframes jump {
                0% {
                    transform: translateY(3px)
                }

                50% {
                    transform: translateY(-15px)
                }

                100% {
                    transform: translateY(3px)
                }
            }


            @include media-sm {
                max-width: 400px;
            }
        }

        @include media-sm {
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }

    &__content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        gap: 50px;

        &--deco {
            max-width: 200px;
            padding: 10px 40px;
            border: 1px solid #ffffff6b;
            border-radius: 20px;
            color: #A0A6F9;
            font-size: 24px;
            font-family: $font-mont;

            @include media-sm {
                text-align: center;
            }
        }

        &--ttl {
            font-size: 50px;
            font-weight: 900;
            font-family: $font-palan;
            line-height: 1.2;
            color: #fff;

            @include media-sm {
                font-size: 40px;
                text-align: center;
            }
        }

        &--subttl {
            font-size: 16px;
            font-weight: 500;
            font-family: $font-mont;
            line-height: 1.8;
            color: #fff;
            text-align: left;
            text-wrap: balance;

            @include media-sm {
                text-align: center;
            }
        }

        &--link {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: left;

            span {

                padding: 10px 40px;
                border-radius: 25px;
                background: linear-gradient(270deg, #dec7ff 0%, #5c27fe 100%);
                font-size: 24px;
                font-family: $font-mont;
                font-weight: normal;
                color: #fff;

                @include media-xs {
                    font-size: 16px;
                }
            }


            @include media-sm {
                justify-content: center;
                align-items: center;
            }
        }


        @include media-sm {
            width: 100%;
            gap: 30px;
            align-items: center;

        }
    }
}

.p-service {
    width: 100%;
    background-color: #070a29;

    &__container {
        width: 100%;
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;

        @include media-sp {
            padding-left: 50px;
            padding-right: 50px;
        }

        @include media-sm {
            padding-right: 20px;
            padding-left: 20px;
        }
    }

    &__deco {
        max-width: 250px;
        padding: 10px 40px;
        font-size: 24px;
        font-family: $font-mont;
        color: #A0A6F9;
        border: 1px solid #ffffff6b;
        border-radius: 20px;
    }

    &__ttl {
        max-width: 800px;
        font-size: 50px;
        font-weight: 700;
        font-family: $font-palan;
        text-align: center;
        color: #fff;
        line-height: 1.2;

        @include media-sm {
            font-size: 35px;
        }
    }

    &__subttl {
        font-size: 16px;
        font-weight: 500;
        font-family: $font-mont;
        line-height: 1.5;
        letter-spacing: 0.1em;
        color: #fff;
        text-align: center;
        max-width: 900px;

    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 70px;
        column-gap: 20px;

        @include media-sp {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-sm {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        max-width: 500px;
        background-color: #21233F;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        position: relative;
        padding-top: 50px;

        .__item-img {
            position: absolute;
            left: 0;
            top: -40px;
            width: 100px;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .__item-ttl {
            font-size: 35px;
            font-family: $font-palan;
            font-weight: 500;
            color: #fff;
            text-align: center;

            @include media-sm {
                font-size: 30px;
            }
        }

        .__item-subttl {
            font-size: 16px;
            font-family: $font-mont;
            font-weight: 300;
            color: #fff;
            text-align: center;
            text-wrap: balance;
            line-height: 1.5;
            letter-spacing: 0.08em;



        }
    }

}

.p-reason {
    width: 100%;
    background-color: #070a29;

    &__container {
        width: 100%;
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;

        @include media-sp {
            padding-left: 50px;
            padding-right: 50px;
        }

        @include media-sm {
            padding-right: 20px;
            padding-left: 20px;
        }
    }

    &__deco {
        max-width: 300px;
        padding: 10px 40px;
        font-size: 24px;
        font-family: $font-mont;
        color: #A0A6F9;
        border: 1px solid #ffffff6b;
        border-radius: 20px;
    }

    &__ttl {
        max-width: 800px;
        font-size: 50px;
        font-weight: 900;
        font-family: $font-palan;
        text-align: center;
        color: #fff;
        line-height: 1.2;

        @include media-sm {
            font-size: 40px;
        }
    }

    &__img {
        width: 100%;
        max-width: 400px;
        border-radius: 20px;
        padding-top: 20px;
        padding-bottom: 20px;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__video {
        width: 100%;
        max-width: 600px;
        min-height: 350px;

        @include media-sm {
            max-width: 400px;
            min-height: 200px;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 40px;

        @include media-pc {
            column-gap: 20px;
        }

        @include media-sp {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 30px;
        }

        @include media-sm {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        max-width: 500px;
        background-color: #21233F;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        @include media-pc {
            flex-direction: column;
            padding: 10px;
        }


        .__item-img {

            img {
                max-width: 100px;
                object-fit: cover;
            }
        }

        .__item-content {
            padding: 10px;
            border-left: 1px solid #ffffff6b;

            @include media-pc {
                border-left: 0;
            }

            &_ttl {
                font-size: 35px;
                font-family: $font-palan;
                font-weight: 500;
                color: #fff;
                text-align: center;

                @include media-sm {
                    font-size: 30px;
                }
            }

            &_subttl {
                padding-top: 30px;
                width: 100%;
                font-size: 16px;
                font-family: $font-mont;
                font-weight: 300;
                color: #fff;
                text-align: center;
                text-wrap: balance;
                line-height: 1.5;
                letter-spacing: 0.08em;

                a {
                    font-family: $font-mont;
                    font-size: 16px;
                    font-weight: 400;
                    color: #fff;
                    text-decoration: underline;
                    white-space: nowrap;
                }
            }
        }

    }

    &_stategy {
        width: 90%;
        max-width: 1200px;
        padding: 20px 70px;
        border-radius: 25px;
        background: linear-gradient(270deg, #dec7ff 0%, #5c27fe 100%);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include media-sm {
            width: 100%;
            padding: 10px 30px;
        }

        .__stategy-item {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .__num {
                font-size: 24px;
                font-weight: 600;
                font-family: $font-mont;
                color: #fff;

                @include media-sm {
                    font-size: 20px;
                }

                @include media-xs {
                    font-size: 16px;
                }
            }

            .__ttl {
                font-size: 16px;
                font-weight: 400;
                font-family: $font-mont;
                color: #fff;

                @include media-xs {
                    font-size: 14px;
                }
            }

            @include media-sm {
                justify-content: center;
                align-items: center;
            }
        }

    }



}

.p-gold {
    width: 100%;
    background-color: #070a29;

    &__container {
        width: 100%;
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;

        @include media-sp {
            padding-left: 50px;
            padding-right: 50px;
        }

        @include media-sm {
            padding-right: 20px;
            padding-left: 20px;
        }
    }

    &__deco {
        max-width: 250px;
        padding: 10px 40px;
        font-size: 24px;
        font-family: $font-mont;
        color: #A0A6F9;
        border: 1px solid #ffffff6b;
        border-radius: 20px;
    }

    &__ttl {
        max-width: 800px;
        font-size: 50px;
        font-weight: 900;
        font-family: $font-palan;
        text-align: center;
        color: #fff;
        line-height: 1.2;

        @include media-sm {
            font-size: 40px;
        }
    }

    &__subttl {
        font-size: 16px;
        font-weight: 500;
        font-family: $font-mont;
        line-height: 1.5;
        letter-spacing: 0.1em;
        color: #fff;
        text-align: center;
        max-width: 900px;
        text-wrap: pretty;
        word-break: all;

    }

    &__link {
        padding: 10px 40px;
        border-radius: 25px;
        background: linear-gradient(270deg, #dec7ff 0%, #5c27fe 100%);
        font-size: 16px;
        font-family: $font-mont;
        font-weight: normal;
        color: #fff;

        @include media-xs {
            font-size: 12px;
        }
    }

    &__video {
        height: 600px;
        border-radius: 20px;

        @include media-sm {
            height: 400px;
        }
    }



}

.p-contact {
    width: 100%;
    background-color: #070a29;

    &__container {
        width: 100%;
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 100px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;

        @include media-sp {
            padding-left: 50px;
            padding-right: 50px;
        }

        @include media-sm {
            padding-right: 20px;
            padding-left: 20px;
        }
    }

    &__deco {
        max-width: 250px;
        padding: 10px 40px;
        font-size: 24px;
        font-family: $font-mont;
        color: #A0A6F9;
        border: 1px solid #ffffff6b;
        border-radius: 20px;
    }

    &__ttl {
        max-width: 800px;
        font-size: 50px;
        font-weight: 900;
        font-family: $font-palan;
        text-align: center;
        color: #fff;
        line-height: 1.2;

        @include media-sm {
            font-size: 40px;
        }
    }

    &__form {
        max-width: 1200px;
        border-radius: 25px;
        background-color: rgba(88, 109, 214, 0.2);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include media-sm {
            flex-direction: column;
        }

        .__form-info {
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            @include media-sm {
                padding: 10px;
            }

            &_ttl {
                width: 100%;
                text-align: center;
                font-size: 20px;
                font-family: $font-mont;
                color: #fff;

                @include media-sm {
                    text-align: center;
                }
            }

            &_email {
                width: 100%;
                text-align: left;
                font-size: 16px;
                font-family: $font-mont;
                color: #fff;

                @include media-sm {
                    text-align: center;
                }
            }

            

            &_img {
                padding-top: 30px;
                @include media-sm {
                    padding-top: 10px;
                }
                img {
                    max-width: 150px;
                    object-fit: cover;
                }
            }
        }

        .__form-items {
            padding: 30px;
            border-left: 1px solid #ffffff6b;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            @include media-sm {
                border-left: 0;
                padding: 20px;
            }

            &_up {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;

                @include media-sm {
                    grid-template-columns: repeat(1, 1fr);
                }

                .__form-item {
                    display: flex;
                    flex-direction: column;
                    align-items: left;
                    gap: 10px;

                    &_label {
                        font-size: 14px;
                        font-family: $font-mont;
                        font-weight: normal;
                        color: #fff;
                    }

                    &_input {
                        width: 100%;
                        padding: 10px;
                        color: #ffffff6b;
                        border-radius: 5px;
                        border: 1px solid #ffffff6b;
                        background-color: transparent;

                        &.input-error {
                            background-color: #f1565628;
                        }
                    }
                }
            }

            &_text {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: left;
                gap: 10px;

                .__text-label {
                    font-size: 14px;
                    font-family: $font-mont;
                    font-weight: normal;
                    color: #fff;
                }

                .__textarea {
                    width: 100%;
                    min-height: 200px;
                    padding: 10px;
                    color: #ffffff6b;
                    border-radius: 5px;
                    border: 1px solid #ffffff6b;
                    background-color: transparent;
                    font-size: 14px;
                    font-family: $font-mont;
                    font-weight: normal;

                    &.text-error {
                        background-color: #f1565628;
                    }
                }
            }

            &_terms {
                display: flex;
                flex-direction: row;
                align-items: left;
                gap: 10px;

                &-ttl {
                    font-size: 14px;
                    font-family: $font-mont;
                    font-weight: normal;
                    color: #fff;

                    a {
                        font-size: 16px;
                        font-family: $font-mont;
                        font-weight: 400;
                        color: #5c27fe;
                        text-decoration: underline;
                    }
                }
            }

            &_submit {
                padding: 10px 40px;
                border-radius: 25px;
                background: linear-gradient(270deg, #dec7ff 0%, #5c27fe 100%);
                font-size: 16px;
                font-family: $font-mont;
                font-weight: normal;
                color: #fff;
            }
        }
    }
}


///// Terms of Use  page ////////
.t-main {
    width: 100%;
}

.t-fv {
    width: 100%;

    &__img {
        width: 100%;
        position: relative;

        img {
            width: 100%;
            min-height: 200px;

            object-fit: cover;
        }
    }

    &__ttl {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 45px;
        font-family: $font-palan;
        font-weight: 700;
        color: #fff;
        text-align: center;
        padding-top: 70px;

        @include media-sm {
            font-size: 35px;
        }

        @include media-xs {
            font-size: 28px;
        }
    }

}

.t-terms {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #070a29;

    &__container {
        width: 100%;
        padding: 50px;
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        @include media-sm {
            padding: 50px 20px;
        }
    }

    &__ttl {
        font-size: 24px;
        font-family: $font-mont;
        font-weight: normal;
        color: #fff;
        line-height: 1.5;
        text-align: left;

        @include media-sm {
            font-size: 16px;
        }

    }

    &__topic {
        font-size: 30px;
        font-family: $font-mont;
        font-weight: bold;
        color: #fff;
        line-height: 1.5;
        text-align: left;

        @include media-sm {
            font-size: 24px;
        }
    }
}

////////////// Wallet Page ///////////////////////////
.w-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #070A29;
}

.w-wallet {
    width: 100%;
    max-width: 900px;
    padding: 20px;
    position: relative;
    z-index: 10;

    &__container {
        width: 100%;
        background-color: #1111115d;
        border: 2px solid #ffffff52;
        border-radius: 10px;
        padding: 30px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include media-xs {
            padding: 30px 10px 10px 10px;
        }

    }

    &__ttl {
        font-size: 40px;
        font-family: $font-noto;
        font-weight: 500;
        line-height: 1.5;
        color: #fff;

        @include media-xs {
            font-size: 30px;
        }
    }

    &__subttl {
        font-size: 16px;
        font-family: $font-noto;
        font-weight: normal;
        line-height: 1.5;
        color: #fff;

        @include media-sm {
            display: none;
        }

        &.sm {
            display: none;
            @include media-sm {
                display: block;
            }
        }
    }

    .__success {
        padding-top: 20px;
        font-size: 12px;
        font-family: $font-mont;
        color: #fff;
        text-align: center;
        max-width: 400px;
    }

    &__symbol {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 150px;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__content {
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-btn {

            width: 300px;
            padding: 10px 40px;
            background: linear-gradient(270deg, #dec7ff 0%, #5c27fe 100%);
            border-radius: 25px;
            font-size: 16px;
            font-family: $font-noto;
            font-weight: 400;
            color: #fff;
            text-align: center;
            margin-bottom: 20px;
            margin-top: 20px;

            @include media-xs {
                width: 250px;
            }

            &.hidden {
                display: none;
            }
        }
    }

    &__wrap {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 20px;

        @include media-sm {
            grid-template-columns: repeat(1,1fr);
        }

        &-item {
            width: 100%;
            font-size: 16px;
            font-family: $font-mont;
            font-weight: 400;
            color: #fff;

            @include media-sm {
                font-size: 14px;
                text-wrap: balance;
                max-width: 300px;
            }

            @include media-xs {
                font-size: 13px;
            }
        }
    }

    &__senditems {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding-top: 30px;
        padding-bottom: 30px;

        @include media-sm {
            flex-direction: column;
        }

        &.hidden {
            display: none;
        }

        &-to {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: left;
            gap: 10px;
        }

        &-amount {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: left;
            gap: 10px;
        }

        .__send-ttl {
            font-size: 14px;
            font-weight: 400;
            font-family: $font-mont;
            color: #fff;
        }

        .__send-input {
            background-color: #5555555d;
            border: 1px solid #ffffff2f;
            color: #fff;
            border-radius: 5px;
            padding: 10px;
        }
    }
}

////////////// Wallet Login Page ////////////////////
.l-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #070A29;
}

.l-login {
    width: 100%;
    max-width: 700px;
    padding: 20px;
    position: relative;
    z-index: 10;

    @include media-xs {
        padding: 10px;
    }

    &__container {

        width: 100%;
        background-color: #1111115d;
        border: 2px solid #ffffff52;
        border-radius: 10px;
        padding: 30px 20px 20px 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include media-sm {
            grid-template-columns: repeat(1, 1fr);
            padding: 30px 10px 20px 10px;
        }
    }

    &__wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        &--ttl {
            font-size: 40px;
            font-family: $font-noto;
            font-weight: 500;
            line-height: 1.5;
            color: #fff;
            padding-bottom: 30px;
        }

        &--subttl {
            font-size: 14px;
            font-family: $font-mont;
            font-weight: normal;
            color: #fff;
            text-align: center;
        }

        &--item {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: left;
            padding: 10px;

            @include media-xs {
                padding: 0;
            }
        }

        &--input {
            padding: 10px;
            border-radius: 5px;
            background-color: #5555555d;
            border: 1px solid #1111115d;
            color: #fff;
        }

        &--submit {
            width: 300px;
            padding: 10px 40px;
            background: linear-gradient(270deg, #dec7ff 0%, #5c27fe 100%);
            border-radius: 25px;
            font-size: 16px;
            font-family: $font-noto;
            font-weight: 400;
            color: #fff;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;

            @include media-xs {
                width: 270px;
            }
        }
    }

    .sm {

        @include media-sm {
            display: none;
        }
    }

}

////////////// Admin Page //////////////////////////

.a-wrapper {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #222E3C;
    max-height: 100vh;
}

.sidebar {
    min-width: 200px;
    max-width: 200px;
    max-height: 100vh;
    min-height: 100vh;
    padding: 50px 10px;
    transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out;
    direction: ltr;
    background: #222E3C;

    @include media-sm {
        display: none;
    }

    &-content {
        transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out;
        display: flex;
        // height: 100vh;
        flex-direction: column;
        background: #222E3C;
    }

    &-nav {
        max-height: 80vh;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        flex-grow: 1;
    }

    &-link {
        display: block;
        padding: .620rem 1.1rem;
        font-weight: 400;
        transition: background .1s ease-in-out;
        position: relative;
        text-decoration: none;
        cursor: pointer;
        border-left-style: solid;
        border-left-width: 3px;
        color: rgba(#e9ecef, 0.5);
        background: #222E3C;
        border-left-color: transparent;

        i,
        svg {
            margin-right: .75rem;
            color: rgba(#e9ecef, 0.5);
        }

        &:focus {
            outline: 0;
        }

        &:hover {
            color: rgba(#e9ecef, 0.75);
            background: #222E3C;
            border-left-color: transparent;
        }


    }

    &-item {
        &.active {
            color: rgba(#e9ecef, 0.75);
            background: #222E3C;
            border-left-color: transparent;
        }
    }

    &-brand {
        font-weight: 700;
        font-size: 1.15rem;
        padding: 1.15rem 1.5rem;
        display: block;
        color: #f8f9fa;

        &:hover {
            text-decoration: none;
            color: #f8f9fa;
        }

        &:focus {
            outline: 0;
        }
    }

}

.a-main {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 0;
    min-height: 100vh;
    max-height: 100vh;
    transition: transform .25s ease-out;
    background: #f5f7fb;
    flex-direction: column;
}

.a-header {
    width: 100%;
    height: 80px;
    box-shadow: 0px 5px 5px rgba(7, 7, 7, 0.144);
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;

    @include media-sm {
        padding: 5px;
    }

    &__btn {
        display: none;
        width: 30px;
        height: 30px;

        @include media-sm {
            display: block;
        }
    }

    &__ttl {
        font-size: 40px;
        font-family: $font-palan;
        font-weight: 500;
        color: #555;

        @include media-sm {
            font-size: 30px;
        }

        @include media-xs {
            font-size: 24px;
        }
    }
}

.a-content {
    width: 100%;
    height: calc(100vh - 130px);
    background-color: rgba(7, 7, 7, 0.048);
    overflow: scroll;
    scrollbar-width: thin;
    padding: 50px 20px 50px 50px;

    @include media-sp {
        padding: 20px;
    }

    @include media-sm {
        padding: 20px;
    }

    @include media-xs {
        padding: 10px;
    }

    &__ttl {
        font-size: 24px;
        font-weight: 500;
        font-family: $font-noto;
        color: #000;
    }

    &__item {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;

        @include media-sm {
            flex-direction: column;
        }


    }

    &__userinfo {
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        padding: 10px;

        .__userinfo-head {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 30px 10px 30px 10px;
            border-bottom: 1px solid #555;
            margin-bottom: 20px;

            .__userinfo-ttl {
                font-size: 24px;
                font-family: $font-noto;
                color: #555;

                @include media-xs {
                    font-size: 20px;
                }
            }

            .__userinfo-createbtn {
                width: 150px;
                padding: 10px 30px;
                background-color: #4a48d6;
                border-radius: 20px;
                font-size: 16px;
                font-weight: 500;
                color: #fff;
                text-align: center;

                @include media-xs {
                    width: 100px;
                    padding: 5px 10px;
                    font-size: 12px;
                }
            }


        }

        .__userinfo-body {
            width: 100%;
            @include media-sm {
                overflow-x: scroll;
                scrollbar-width: thin;
                scroll-behavior: smooth;
            }

            .userinfo-table {
                width: 100%;


                

                tbody {
                    width: 100%;

                }

                th {
                    text-align: center;
                }

                td {
                    text-align: center;
                    padding: 20px 5px;
                    font-size: 14px;
                    font-weight: normal;
                    color: #555;

                }
            }

            .__userinfo-update {
                padding: 5px 20px;
                background-color: #33ad28;
                border-radius: 15px;
                color: #fff;
            }
        }
    }

    &__analytics {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 20px;

        @include media-xs {
            grid-template-columns: repeat(1, 1fr);
        }

        .analytics-item {
            width: 100%;
            height: 135px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 20px 10px;
            box-shadow: 5px 5px 5px rgba(7, 7, 7, 0.144);

            &.users {
                background-color: #e9c242;
            }

            &.total {
                background-color: #1ca099;
            }

            &.price {
                background-color: #8f33a1;
            }

            &.sales {
                background-color: #4a48d6;
            }
        }

        .__analytics-ttl {
            font-size: 30px;
            font-family: $font-mont;
            font-weight: 700;
            color: #fff;
        }

        .__analytics-subttl {
            font-size: 14px;
            font-family: $font-mont;
            font-weight: normal;
            color: #fff;
        }
    }



    &__calender {
        width: 100%;
        max-width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        background-color: #fff;
        box-shadow: 5px 5px 5px rgba(7, 7, 7, 0.144);
        padding: 20px 10px;

        .__calender-ttl {
            font-size: 16px;
            font-family: $font-noto;
            font-weight: 500;
            line-height: 1.8;
            color: #555;
            text-align: left;
        }
    }

    &__location {
        width: 100%;
        height: 365px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        background-color: #fff;
        box-shadow: 5px 5px 5px rgba(7, 7, 7, 0.144);
        padding: 20px 10px;

        .__location-ttl {
            font-size: 16px;
            font-family: $font-noto;
            font-weight: 500;
            line-height: 1.8;
            color: #555;
            text-align: left;
        }
    }


    &__wallet {

        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;



        &-container {
            position: relative;
            width: 100%;
            max-width: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background-color: #070a29;
            box-shadow: 5px 5px 5px rgba(7, 7, 7, 0.144);
            padding: 30px 10px;

            .__ttl {
                font-size: 40px;
                font-family: $font-noto;
                font-weight: 700;
                line-height: 1.5;
                color: #fff;
                text-align: center;
            }

            .__subttl {
                font-size: 16px;
                font-family: $font-noto;
                font-weight: 300;
                line-height: 1.5;
                color: #f1a7a7;
                text-align: center;
            }

            .__success {
                font-size: 16px;
                font-family: $font-noto;
                font-weight: 300;
                line-height: 1.5;
                color: #33ad28;
                text-align: center;
            }

            .__content {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 20px;
                gap: 20px;


                .__user-name {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;

                    &__ttl {
                        font-size: 16px;
                        font-family: $font-mont;
                        font-weight: normal;
                        color: #fff;
                    }

                    &__input {
                        width: 100%;
                        padding: 10px;
                        border: 1px solid #555;
                        border-radius: 5px;
                        background-color: #5555552a;
                        color: #fff;
                    }
                }

                .__user-email {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;

                    &__ttl {
                        font-size: 16px;
                        font-family: $font-mont;
                        font-weight: normal;
                        color: #fff;
                    }

                    &__input {
                        width: 100%;
                        padding: 10px;
                        border: 1px solid #555;
                        border-radius: 5px;
                        background-color: #5555552a;
                        color: #fff;
                    }
                }

                .__coin-price {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;

                    &__ttl {
                        font-size: 16px;
                        font-family: $font-mont;
                        font-weight: normal;
                        color: #fff;
                    }

                    &__input {
                        width: 100%;
                        padding: 10px;
                        border: 1px solid #555;
                        border-radius: 5px;
                        background-color: #5555552a;
                        color: #fff;
                    }
                }

                .__user-coins {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;

                    &__ttl {
                        font-size: 16px;
                        font-family: $font-mont;
                        font-weight: normal;
                        color: #fff;
                    }

                    &__input {
                        width: 100%;
                        padding: 10px;
                        border: 1px solid #555;
                        border-radius: 5px;
                        background-color: #5555552a;
                        color: #fff;
                    }
                }

                .__wallet-address {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;

                    &__ttl {
                        font-size: 16px;
                        font-family: $font-mont;
                        font-weight: normal;
                        color: #fff;
                    }

                    &__input {
                        width: 100%;
                        padding: 10px;
                        border: 1px solid #555;
                        border-radius: 5px;
                        background-color: #5555552a;
                        color: #fff;
                    }
                }

                .__wallet-secret {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;

                    &__ttl {
                        font-size: 16px;
                        font-family: $font-mont;
                        font-weight: normal;
                        color: #fff;
                    }

                    &__input {
                        width: 100%;
                        padding: 10px;
                        border: 1px solid #555;
                        border-radius: 5px;
                        background-color: #5555552a;
                        color: #fff;
                    }
                }
            }

            .__link {
                padding: 10px 40px;
                border-radius: 25px;
                background: linear-gradient(270deg, #dec7ff 0%, #5c27fe 100%);
                font-size: 16px;
                font-family: $font-mont;
                font-weight: normal;
                color: #fff;

                @include media-xs {
                    font-size: 12px;
                }
            }

            .close-btn {
                position: absolute;
                cursor: pointer;
                top: 30px;
                right: 30px;
            }
        }


    }

}

.a-footer {
    width: 100%;
    height: 50px;
    box-shadow: 0px -5px 5px rgba(7, 7, 7, 0.144);
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &__sttl {
        font-size: 16px;
        font-family: $font-palan;
        font-weight: 500;
        color: #555;
    }
}

.a-dropdown {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #070A29;
    transition: ease all 2s;

    &-ttl {
        width: 100%;
        max-width: 300px;
        text-align: center;
        font-size: 35px;
        font-family: $font-palan;
        font-weight: 700;
        color: #fff;
        letter-spacing: 0.1em;
        text-wrap: balance;
        line-height: 1.5;

        @include media-xs {
            font-size: 25px;
        }
    }

    &-subttl {
        font-size: 24px;
        font-family: $font-mansalva;
        color: #5cd1e0;
        padding-bottom: 40px;
    }

    &-nav {
        width: 100%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .a-dropdown-link {
        font-size: 20px;
        font-weight: 500;
        font-family: $font-mont;
        color: #bebebe;

        &.hover {
            font-weight: 700;
            color: #fff;
        }
    }

    &.is-active {
        display: flex !important;
    }
}