{% extends "layout/base_admin.html" %}
{% load static%}

{% block main %}
<main class="a-content">
    <div class="a-content__wallet">
        <div class="a-content__wallet-container">
            <h1 class="__ttl">New Wallet Create</h1>
            <div class="__content">
                <div class="__user-name">
                    <p class="__user-name__ttl">User Name</p>
                    <input type="text" class="__user-name__input" name="userName" placeholder="User Name">
                    <p class="__type-error">Enter Username.</p>
                </div>
                <div class="__wallet-address">
                    <p class="__wallet-address__ttl">Wallet Address</p>
                    <input type="text" name="walletAddress" readonly class="__wallet-address__input">
                </div>
                <div class="__wallet-secret">
                    <p class="__wallet-secret__ttl">Wallet SecretCode</p>
                    <input type="text" name="walletSecretCode" readonly class="__wallet-secret__input">
                </div>
            </div>
            <a href="" class="__link">Generate Wallet</a>
        </div>
    </div>
    
</main>
{% endblock %}