@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Sans+JP:wght@400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Shippori+Mincho+B1:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$font-epil: 'Epilogue', sans-serif;
$font-noto: 'Noto Sans JP', sans-serif;
$font-shippori: 'Shippori Mincho B1', serif;
$font-roboto: 'Roboto', sans-serif;
$font-oonishi: "ta-oonishi", sans-serif;
$font-mansalva: "Mansalva", sans-serif;
$font-palan: "Palanquin Dark",sans-serif;
$font-mont: 'Montserrat',sans-serif;